Source: supercollider-community-build
Section: sound
Priority: optional
Maintainer: Mauro <mauro@sdf.org>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: http://supercollider.github.io

Package: supercollider-community-build
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, libasound2 (>= 1.0.16),
libboost-filesystem1.58.0, libboost-regex1.58.0, libboost-system1.58.0, libboost-thread1.58.0, libc6 (>= 2.15), libcwiid1 (>= 0.6.00+svn184), libqt4-network (>= 4:4.5.3), libqtcore4 (>= 4:4.7.0~beta1), libqtgui4 (>= 4:4.8.0), libqtwebkit4, libreadline6 (>= 6.0), libgcc1 (>= 1:4.1.1), libsndfile1 (>= 1.0.20), libstdc++6 (>= 4.1.1), libx11-6, jackd
Description: real time audio synthesis programming language
 SuperCollider is an environment and programming language for real time
 audio synthesis and algorithmic composition. It provides an interpreted
 object-oriented language which functions as a network client
 to a state of the art, realtime sound synthesis server.
 .
 This package installs a NON-OFFICIAL package of SuperCollider. It does
 use the official source without any modification but it's not endorsed
 by SuperCollider developers.
